tests/AllTests.cs
tests/bin
tests/obj
src/bin
src/obj
src/AllSource.cs
testCoverage/*.cs
DuplicateRemoves/bin
DuplicateRemover/obj
DuplicateRemover/bin/
testCoverage/bin/
testCoverage/coverage.json
testCoverage/obj/
